  :root {
     --bg: #1F1121;
     --bg2: #36183d;
     --side: #C7522A;
     --accent: #FFFFFF10;
     --side_text: #FFF8E1;
     --main_text: #cae1ed;
       
  }

  /* Mathing bee writing and the right side bar */
  html,body {
    letter-spacing:1px;
    height:100%; 
    margin:0; 
    font-family: 'Montserrat', 'Inter', 'Helvetica Neue', Arial, sans-serif;
    background:linear-gradient(180deg,#071126 0%, #071a2a 100%);
    color: var(--main_text)
  }
  
  .wrap {
    min-height:100%; 
    display:flex; 
    align-items:center; 
    justify-content:center;
    padding:24px;
    background: var(--bg)
  }
  
  /* main ui */
  .card {
    width: 100%;
    max-width:779px;           
    background: var(--bg2);
    border-radius:15px;
    padding:22px;
    box-shadow:0 8px 30px rgba(2,6,23,0.7);
    border:1px solid rgba(255,255,255,0.03)
  }
  
  header{
    width:100%;
    display:flex;
    align-items:center;
    justify-content:space-between;
    margin-bottom:12px
  }
  
  /* Mathing bee writing */
  h1{
    width:29%;
    font-size:30px;
    margin:0;
    font-family: 'Montserrat', 'Inter', 'Helvetica Neue', Arial, sans-serif;
    font-weight: 1000;
    color: var(--main_text);
    background: #FFFFFF08;
    padding: 15px;
    border-radius: 30px;
    overflow-wrap: break-word;
  }
  
  .meta{
    display:flex;
    gap: 25px;
  }

  /* Score and Skips left bar */
  .chip{
    background: var(--side);
    padding:8px 12px;
    border-radius:999px;
    font-weight:600;
    color: var(--side_text);
    display:inline-flex;
    align-items:center;
    gap:8px;
    overflow-wrap: break-word;
  }
  
  /* timer obv */
  .timer{
    font-size:25px;
    font-family: 'Montserrat', 'Inter', 'Helvetica Neue', Arial, sans-serif;
    color: var(--main_text);
    font-weight:700;
  }
  
  .grid{
    display:grid;
    grid-template-columns:1fr 260px;
    gap:18px;
    align-items:start
  }
  
  /*main box*/
  .main{
    padding:25px;
    background:linear-gradient(180deg, rgba(255,255,255,0.05), rgba(255,255,255,0.000));
    border-radius:30px
  }
  
  /*Side box*/
  .side{
    padding:25px;
    background:linear-gradient(180deg, rgba(255,255,255,0.05), rgba(255,255,255,0.000));
    border-radius:30px;
    height:50%
  }
  
  /*the puestion*/
  .question{
    font-family: 'Montserrat', 'Inter', 'Helvetica Neue', Arial, sans-serif;
    font-size:36px;
    font-weight:900;
    letter-spacing:0.4px;
    color:var(--main_text);
    margin:18px 0
  }
  
  .hint{
    color:var(--main_text);
    margin-bottom:10px
  }
  
  .input-row{
    display:flex;
    gap:27px;
    align-items:center
  }
  
  input.answer{
    font-family: 'Montserrat', 'Inter', 'Helvetica Neue', Arial, sans-serif;
    font-size:20px;
    padding:12px 14px;
    border-radius:20px;
    background:var(--accent);
    color:var(--main_text);
    font-weight:900;
    width:150px;
    outline:solid;
    outline-width: 3px;
    outline-color: var(--accent);
    transition: 0.5s
  }
  
  input.answer:focus{
    box-shadow:0 6px 20px rgba(125,211,252,0.4);
    transition: 0.5s
  }
  
  /*Start test button*/
  button.btn{
    background:var(--side);
    border:none;
    font-size: 14px;
    padding:19px 14px;
    border-radius:40px;
    font-family: 'Montserrat', 'Inter', 'Helvetica Neue', Arial, sans-serif;
    font-weight:800;
    letter-spacing: 0.02em; /* slight spacing for clarity */
    color:var(--side_text);
    cursor:pointer;
    transition: 0.2s
  }
  button.btn:hover{
    background: #F4562A;
    transition: 0.2s
  }
  button.btn:focus{
    background: #DA380B;
    transition: 0.2s;
    box-shadow: 0 0px 6px var(--side);
  }
  
  /*Skip button*/
  button.secondary{
    font-family: 'Montserrat', 'Inter', 'Helvetica Neue', Arial, sans-serif;
    border: none;
    color:var(--side_text);
    padding:10px 12px;
    border-radius: 35px;
    background:var(--side);
    font-weight: 800;
    font-size: 14px;
    transition: 0.3s
  }
   button.secondary:hover{
    background: #F4562A;
    transiton: 0.3s
  }
  button.secondary:active{
    background: #DA380B;
    transition: 0.3s
  }
  
  .stats{
    display:flex;
    flex-direction:column;
    gap:10px
  }
  
  .stat{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding: 10px;
    border-radius:20px;
    background:rgba(0,0,0,0.1)
  }
  
  .stat strong{
    font-size:30px
  }
  /*The small grey writings*/ 
  .small{
    font-size:14px;
    color:var(--main_text);
    font-weight: 800;
  }
  
  .footer{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-top:14px
  }
  
  .progress{
    height:18px;
    background:radial-gradient(var(--accent), #00000030);
    border-radius:999px;
    overflow:hidden
  }
  
  .bar{
    height:100%;
    background:linear-gradient(90deg,rgba(205, 138, 10),rgba(255, 69, 0));
    width:0%;
    transition: 2s
  }
  
  .disabled{
    opacity:0.45;
    pointer-events:none
  }
  .logo{
    width: 400px;
    height: auto;
    max-width: 100%;
}
  
  .result-overlay{
    position:fixed;
    inset:0;
    display:flex;
    align-items:center;
    justify-content:center;
    background:rgba(2,6,23,0.6);
    backdrop-filter: blur(4px);
    transition: 1s
  }
  
  .modal{
    background:var(--bg);
    padding:24px;
    border-radius:12px;
    border:1px solid var(--accent);
    width:420px;
    transition: 1s
  }
  
  .modal h2{
    margin-top:0;
    transition: 1s
  }
  
  .small-muted{
    color:var(--main_text);
    font-size:14px;
    font-weight: 900
}
  
  @media (max-width:800px)
  { 
    .grid{
      grid-template-columns:1fr;
    } 
    .side{
      order:2
    } 
  }

 .grade-dropdown {
  position: relative;
  display: inline-block;
  transition: 1s
}

#gradeButton {
  font-family: 'Montserrat', 'Inter', 'Helvetica Neue', Arial, sans-serif;
  background-color: var(--side);
  font-size: 19px;
  color: var(--side_text);
  padding-top: 4px;
  padding-bottom: 0px;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 999px;
  cursor: pointer;
  transition: 0.2s;
  font-weight:700;
  border:none;
  box-shadow: 0 5px 6px rgba(0,0,0,0.1);
  
}

#gradeButton:hover {
  background-color: #F4562A ;
  transition: 0.2s;
}
#gradeButton:active {
  background-color: #DA380B;
  transition: 0.2s;
}


#gradeList {
  list-style: none;
  background: #371246;
  position: absolute;
  top: 90%;
  left: 0;
  width: 125px;
  margin-top: 6px;
  box-shadow: 0 5px 6px rgba(0,0,0,0.5);
  padding: 0px;
  z-index: 100;
  border-radius: 20px;
  font-weight: 600;
  color: var(--main_text);
  font-size:19px;
  
  /* Start hidden but still in layout */
  opacity: 0;
  transform: translateY(-10px);
  max-height: 0;
  overflow: hidden;
  pointer-events: none;

  transition:
    opacity 0.25s ease,
    transform 0.25s ease,
    max-height 0.25s ease;
}

/* Show state — triggers animation */
#gradeList.show {
  opacity: 1;
  transform: translateY(0);
  max-height: 600px; /* adjust to fit your list */
  pointer-events: auto;
}

}
#gradeList li {
  padding: 20px;
  cursor: pointer;
  transition: background 0.5s;
}

#gradeList li {
  padding: 15px 15px;
  cursor: pointer;
  transition: background 0.2s ease, color 0.2s ease;
}
#gradeList li + li {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

#gradeList li:hover {
  background: var(--bg2);
  border-radius: 15px;
}

#selectedGrade {
  margin-top: 8px;
  font-weight: bold;
}
